<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gloiot.hygooilstation">

    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 导入zxing需要的额外权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 地图包、搜索包需要的基础权限 -->


    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- 蓝牙打印所需的蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Bugly -->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <!-- 设置高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f7be285ca11af02b9b0f0fcf8ce78afa"/>

        <!--
             Glide缓存
                 <meta-data
            android:name="com.gloiot.hygooilstation.utils.glide.GlideConfiguration"
            android:value="GlideModule"/>
        -->


        <!-- 声明定位service -->
        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".ui.activity.login.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- alipay sdk end -->


        <!-- wxpay sdk begin -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <!-- wxpay sdk end -->

        <activity
            android:name=".ui.activity.login.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.login.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.authentication.QualificationInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.authentication.CertificateBankcardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.authentication.FinishAuthenticationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.MyolisActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.AuditLoggingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.AddOilsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.ModifyOilsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.ModifyOilstationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.OilstationPicsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.TodayearningActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.StatisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.GatheringActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.SuggestionFeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.setting.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.mybankcard.MyBankCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.mybankcard.AddBankcardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.widget.picsmagnify.SpaceImageDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/IMTheme.Transparent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.WalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.WalletDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.WalletListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.TixianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.ForgetPaypwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.ModifyPaypwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.setting.ModifyLoginpwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.TixianFinishedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.TixianPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucenceTheme"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".ui.activity.mine.setting.ModifyPaypwdFirstActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.authentication.SetPaypwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.cashier.ManageCashierActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.OilstationAreaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.OilstationProvinceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.OilstationCityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.OilstationDistrictActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.cashier.AddCashierActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.cashier.DeleteCashierActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.map.BaseMapFragmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.map.StationLocationFragmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.map.getLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.map.MapTestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.map.StationLatLngActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.map.StationLocationDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.SettlementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.SettlementDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.mine.wallet.AutomaticTixianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.MyOilgunActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.MyEachoilsGunActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.AddOilgunActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.StatisticsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.message.TradingDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.uiview.TopMenuWindow"
            android:screenOrientation="portrait"
            android:theme="@style/myTransparent"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.SettlementOverallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.TestSwipeRecyclerViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.oilstation.MyEachOilsgun1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.aboutpay.SelectGatheringStyleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.aboutpay.SetPayMoneyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.aboutpay.SelectScanTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.aboutpay.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.aboutpay.PayStateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.Todayearning1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity android:name=".ui.activity.authentication.QualificationInfoForOldUserActivity">
        </activity>
        <activity android:name=".ui.activity.authentication.QualificationInfoForNewUserActivity">
        </activity>
        <activity
            android:name=".ui.activity.authentication.NewQualificationActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ui.activity.authentication.UploadingSinglePhotoActivity">
        </activity>
        <activity android:name=".ui.activity.authentication.QualificationOtherLicenceActivity">
        </activity>
        <activity android:name=".ui.activity.mine.alipay.MyAliPayActivity">
        </activity>
        <activity android:name=".ui.activity.mine.alipay.AddAlipayAccountActivity">
        </activity>
        <activity android:name=".ui.activity.test.TestPicassoActivity">
        </activity>
    </application>

</manifest>